<div class="media">
  <section class="col-md-3">
    <img class=" media-object img-responsive" src="http://fillmurray.com/400/400" alt="bill murray">
  </section>
  <section class="media-body col-md-">
    <h1 class="media-heading">A Nice Title</h1>
    <p>Organic direct trade ugh paleo wayfarers, skateboard aesthetic meggings slow-carb. Actually austin tattooed mumblecore. Pop-up post-ironic pour-over hell of umami tumblr. Etsy poutine tofu whatever mumblecore pour-over celiac activated charcoal food truck sriracha normcore flannel pickled keytar readymade. Literally celiac tumblr, four loko direct trade synth whatever leggings. Plaid cliche food truck viral aesthetic typewriter knausgaard affogato squid yr tattooed. Mustache shoreditch flexitarian iceland tumblr. Fanny pack microdosing polaroid food truck, banh mi tumblr authentic cliche shabby chic. Chambray blue bottle kogi master cleanse. Helvetica umami fashion axe, church-key viral chia cronut vexillologist mumblecore vice kogi VHS. Master cleanse mixtape gastropub freegan listicle aesthetic williamsburg jianbing authentic hoodie kickstarter yr.
    </p>
  </section>
</div>
<div class="media">
  <section class="col-md-3">
    <img class=" media-object img-responsive" src="http://fillmurray.com/400/400" alt="bill murray">
  </section>
  <section class="media-body col-md-">
    <h1 class="media-heading">A Nice Title</h1>
    <p>Organic direct trade ugh paleo wayfarers, skateboard aesthetic meggings slow-carb. Actually austin tattooed mumblecore. Pop-up post-ironic pour-over hell of umami tumblr. Etsy poutine tofu whatever mumblecore pour-over celiac activated charcoal food truck sriracha normcore flannel pickled keytar readymade. Literally celiac tumblr, four loko direct trade synth whatever leggings. Plaid cliche food truck viral aesthetic typewriter knausgaard affogato squid yr tattooed. Mustache shoreditch flexitarian iceland tumblr. Fanny pack microdosing polaroid food truck, banh mi tumblr authentic cliche shabby chic. Chambray blue bottle kogi master cleanse. Helvetica umami fashion axe, church-key viral chia cronut vexillologist mumblecore vice kogi VHS. Master cleanse mixtape gastropub freegan listicle aesthetic williamsburg jianbing authentic hoodie kickstarter yr.
    </p>
  </section>
</div>
<div class="media">
  <section class="col-md-3">
    <img class=" media-object img-responsive" src="http://fillmurray.com/400/400" alt="bill murray">
  </section>
  <section class="media-body col-md-">
    <h1 class="media-heading">A Nice Title</h1>
    <p>Organic direct trade ugh paleo wayfarers, skateboard aesthetic meggings slow-carb. Actually austin tattooed mumblecore. Pop-up post-ironic pour-over hell of umami tumblr. Etsy poutine tofu whatever mumblecore pour-over celiac activated charcoal food truck sriracha normcore flannel pickled keytar readymade. Literally celiac tumblr, four loko direct trade synth whatever leggings. Plaid cliche food truck viral aesthetic typewriter knausgaard affogato squid yr tattooed. Mustache shoreditch flexitarian iceland tumblr. Fanny pack microdosing polaroid food truck, banh mi tumblr authentic cliche shabby chic. Chambray blue bottle kogi master cleanse. Helvetica umami fashion axe, church-key viral chia cronut vexillologist mumblecore vice kogi VHS. Master cleanse mixtape gastropub freegan listicle aesthetic williamsburg jianbing authentic hoodie kickstarter yr.
    </p>
  </section>
</div>
